<div class="login-box">
	<div class="login-logo">
		<b>Kisan</b>Seva
	</div>
	<div class="login-box-body">
		<p class="login-box-msg">Enter your Email</p>
		<div *ngIf="data!==undefined">
			<div *ngIf="data[0].FAILURE!==undefined">
				<span class="error">{{data[0].FAILURE}}</span>
			</div>
			<div *ngIf="data[0].SUCCESS!==undefined">
				<span class="error">{{data[0].SUCCESS}}</span>
			</div>
		</div>
		<form (submit)="forgotPassword($event, email.value)">
			<div class="form-group has-feedback">
				<input #email type="text" class="form-control" placeholder="Email" name="Email" (input)='checkEmail(email.value)'>
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				<span [innerHtml]="emailErrorMessage" class="error"></span> 
			</div>
			<div class="row">
				<div class="col-xs-8"></div>
				<div class="col-xs-4">
					<button type="submit" name="forgotBtn" class="btn btn-primary btn-block btn-flat">Submit</button>
				</div>
			</div>
		</form>
		<a routerLink="/register" class="text-center">Register a new membership</a>
	</div>
</div>