<div class="login-box">
	<div class="login-logo">
		<b>Kisan</b>Seva
	</div>
	<div class="login-box-body">	
		<p class="login-box-msg">Enter Password</p>
		<form (submit)="resetPassword($event, password.value)">
			<div class="form-group has-feedback" >
				<input #password type="password" class="form-control" placeholder="Password" name="Password" (input)='checkPassword(password.value)' >
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				<span [innerHtml]="passwordErrorMessage" class="error"></span>
			</div>
			<div class="row">
				<div class="col-xs-8"></div>
				<div class="col-xs-4">
					<button type="submit" name="resetBtn" class="btn btn-primary btn-block btn-flat">Submit</button>
				</div>
			</div>
		</form>
		<a routerLink="/register" class="text-center">Register a new membership</a>
	</div>
</div>